#list {
    background: #E0FFFF;
}

#list > button {
    color:#FF4500;
    background: #FFFACD;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    text-align: justify;
    font-weight: bold;
    font-family: Garamond;
}

input {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


